
.function_wrapper{
	height: auto;
	width:100%;
}

.function_head{
	text-align: center;
	width:100%;
}

.answer_div{
	border-radius:  20px;
	border: 2px solid #00ff00;
	margin: 0 20% ;
	height: 4em;
}

.answer_text{
	text-align: center;
}
.function_form{
	max-width:90%;
	margin: auto;
	text-align: center;
	

}
.function_form input[type=number]{
	max-width: 3.5em;
	text-align: center;
}
.function_form input[type=button], input[type=submit]{
	border-color: #00ff00;
	border-radius: 1em 1em;
	background-color: white;
	color: #00ff00;
	text-shadow: .1em .1em #080808; 
	width: 6em;
	margin: 2em;
}

.spacing{
	display:inline;
	margin-right: 5%;
}

#slope{
	display: none;
	max-width: 4.0em;
}
