/*
	Theme Name: Algebralator
  Description: Algebralator Online Theme;





*/

/* ==========================================================================
   Header
   ========================================================================== */

header {
    margin: 4% 0 0 0; 
}
ul{
    list-style: none;
}
a:visited{
    color: #00ff00;
  }
a{
  color: #00ff00;
  text-decoration: none;
}
body{
    background-color: #555555;
    font-family: 'Futura';
    color: #00ff00;
  }
nav {
    display: -webkit-box;
    -webkit-box-orient:horizontal;
    padding: 1%;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;  
    color: white;
    background-color: #00ff00;
    border-radius: 7px;
    }

nav a {
    font-family: 'Futura';
    display:block;
    -webkit-box-flex:1;
    text-align:center;
    font-size: 1.25em;
    border-right: 1px solid #000000;  
    color: inherit;
    background-color: #00ff00;
    text-decoration: none;

    }
nav a:visited{
  color: inherit;
}



h1{
    color: #00ff00;
  	margin: 0;
  	padding: 0;
  }



#footer div{
  font-size: .8em;
  padding-top: 10px;
  display: inline;
}

#footer >a{
  float:right;
  max-width: 25%;
}

#footer{
  height: 40px;
  padding: 1%;
  color: black;
  background-color: #aaaaaa;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

  /*
#tabs{
  margin: 0px ;
  margin-top: 5px;
  padding: 0px;
  background-color: #808080;
  border-radius: 5px;

}


.ui-tabs-nav li{
  
  border-top-right-radius: 5px ;
  border-top-left-radius: 5px ;
  border: 1px solid grey;
  background-color: white;
  margin: .25em .25em .25em 0;
  padding: .05em .2em;
  display: inline;
  list-style: none;
}

.ui-tabs-nav{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  padding: 2px 2px 1px 0px;
  margin: 2px;

}
.ui-state-focus{
  border: none;
}
.ui-tabs-anchor {
  font-size: .9em;

}

.ui-state-active {
  background-color: green;
  border: 1px solid green;
}
.ui-state-active a{
  background-color: #808080;
  
}
.tabsChild ul{
  margin-left: 25px;
  list-style: none;
}*/
h3 {
	margin: 0px 0px 5px 0px;
	padding: 0;
}

#footer img{
  float: right;
  
}
.nav-button-div{
  
  width: 100%;
  overflow: hidden;
}
.nav-button-div .menu{
  display: none;
  position: absolute;
  position:absolute; right:10px; top:165px; z-index:999;
  width:250px;
  margin:0; 
  padding: 1px; 
  list-style:none;
  background:#808080; 
  color:#000;
  -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
  -moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999

}

.nav-button-div .menu li{

  border-bottom: solid 1px #000;
}
.nav-menu-button{
  display: none;
  float: right;
  border: 1px solid #000000;
   
  background-color: #00ff00;
  border-radius: 7px;
  

  font-family: 'Futura';
  font-size: 1.25em;
  color: white;
  
  
  padding: .2em .4em;

}
#accordion{
  border-radius: 5px;
  
  background-color: white;
}
.ui-accordion-header{
  color: #00ff00;
  padding-left: .3em;
  margin: 1px 0;
  text-shadow: 1px 1px black;
}

.ui-state-default{
  background-color: #e6e6e6;
  border-radius: 5px;
}
.ui-accordion-content{
  margin: 0;
  height: auto;
  padding-bottom: 1px;

}
.ui-accordion-content li{
  border-bottom: 1px solid black;
  width: 15em;
  
}

.ui-accordion-content a{
  color: deepskyblue;
}
/* Phones */

@media screen and (max-width: 480px) {
  .nav-menu-button{
    display: inline;
    
  }
  nav{
    display: none;
  }

  
}

